GOOGLE_CLIENT_ID=
GOOGLE_SECRET_ID=
GOOGLE_CLIENT_ANDROID_ID=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=account_user
DB_PASSWORD=account_pass
DB_NAME=account_db
DB_SSL_MODE=disable

RSA_PRIVATE_KEY=

# DB_MAX_OPEN_CONNS=150
# DB_MAX_IDLE_CONNS=10
# DB_CONN_MAX_LIFETIME=1